<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="BisSqlConnection_ReadWrite" connectionString="server=39.108.90.225;database=CAMS;uid=sa;pwd=Sjzy2588.;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>